body {
  background-color: #D3D4D9; 
}
nav {
  list-style-type: none;
  background-color: #B8BEDD;
  width: 100%;
  overflow: hidden;
  postion: fixed;
  text-align: center;
  left: 0;
  top: 0;
  margin: 0;
}

li a {
  display: block;
  color: white ;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  display: black;
  color: #4F5165;
  text-decoration: none;
  padding: 15px 170px;
  font-size: 150%;
  font-family: "Georgia"  ;
}

li a:hover {
  color: white;
  background: #C8C8D0;
}

h1 {
  color: dark blue;
  font-size: 250%;
  background-color: n/a;
  letter-spacing: n/a;
  text-shadow: 2px 2px grey;
}

h3 {
    display: black;
  color: #4F5165;
  text-decoration: none;
  padding: 15px 170px;
  font-size: 150%;
  font-family: "Georgia"  ;
  
}

img{
  width: 50%; 
  border: 3px solid #ddd;
  height: 50%;
}
