body {
  background-color: #ADB7D2; 
}

h1 {
  color: dark blue;
  font-size: 250%;
  background-color: n/a;
  letter-spacing: n/a;
  text-shadow: 2px 2px grey;
}

img{
  width: 50%; 
  border: 3px solid #ddd;
  height: 50%;
}
